@import url(./components/koyomi-builder.css);
@import url(./components/koyomi-studio.css);

@import url(./components/effects.css);

@font-face {
   font-family: "GeoSansLight";
   src: url("../../fonts/GeosansLight.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

:root {
   --koyomi-builder__vh: 297mm;
   --color-theme-true-color: #c42929;
   --color-theme: #ce0f0f;
   --color-theme-hightlight: hsl(0, 100%, 50%);
   --color-holiday: var(--color-theme);
   --color-holiday-faded: #5e0505;
   --color-weekday: #c0c0c0;
   --color-weekday-faded: #464646;
}
@media print {
   :root {
      --color-holiday: #e64233;
      --color-holiday-faded: #faafa8;
      --color-weekday: #000000;
      --color-weekday-faded: #727272;
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
}
html,
body {
   /*background: linear-gradient(45deg, #110300, #aa2d1c, #fa983c);*/

   height: 100%;
   margin: 0;
}

main {
   position: relative;
   top: 20px;

   height: 100%;
   width: 100%;
}

.title {
   position: absolute;
   left: 50%;
   transform: translateX(-50%) translateY(0);
   min-width: 600px;

   color: #b4b4b4;
   text-align: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;

   text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.986);
   transition: transform 1s ease;
}

.screen-wrapper {
   position: relative;
   height: 100%;
}

.font-poppin {
   font-family: "Poppins", sans-serif;
   font-weight: lighter;
}

.font-bold {
   font-weight: bold;
}

.font-geosans {
   font-family: "GeoSansLight", sans-serif;
   letter-spacing: 3px;
}
.japanese-units {
   position: relative;
   font-size: 18px;
   top: 1px;
}
