@font-face {
   font-family: "GeoSansLight";
   src: url("../../public/fonts/GeosansLight.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Montserrat";
   src: url("../../public/fonts/montserrat/Montserrat-Light.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
}

.koyomi-builder__month-collection-container {
   position: absolute;
   top: 0;
   left: 0;

   display: flex;
   justify-content: center;
   flex-direction: column;
}

.koyomi-builder__container {
   position: relative;
   top: 0;

   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: start;
   flex-direction: column;

   font-family: "GeoSansLight", sans-serif;
}
@media print {
   .koyomi-builder__container {
      top: 0px;
   }
}

.koyomi-builder__print-sizing {
   position: relative;

   width: 80vw;

   max-width: 297mm; /*A4*/
   min-width: 600px;
   height: auto;
   aspect-ratio: 1.4142 / 1;

   border-radius: 10px;
   border: 1px dashed rgb(110, 42, 42);

   font-family: "GeoSansLight", sans-serif;
   /*margin-bottom: 4%;*/
} /*
.koyomi-builder__print-sizing--for-browser {
   border-radius: 10px;
   border: 1px dashed rgb(110, 42, 42);
}
*/
.dom-to-img-container {
   width: 100%;
   height: 100%;
}

@media print {
   .koyomi-builder__print-sizing {
      top: 0;

      width: var(--page-size-width) !important;
      height: var(--page-size-height) !important;
      margin: 0 !important;
      border: none !important;
      page-break-inside: avoid;
      page-break-after: always;
   }
   body,
   html {
      margin: 0;
      border: none;
   }
}

@page {
   size: A4 landscape;
   margin: 0;
}

.koyomi-builder__print-margin {
   position: absolute;
   inset: 2mm;
}

svg text {
   font-family: "GeoSansLight", sans-serif;
}

.color-line-holiday {
   stroke: var(--color-holiday);
}

.color-line-weekday {
   stroke: var(--color-weekday);
}
.color-line-holiday-faded {
   stroke: var(--color-holiday-faded);
}

.color-line-weekday-faded {
   stroke: var(--color-weekday-faded);
}
.color-text-holiday {
   fill: var(--color-holiday);
}

.color-text-weekday {
   fill: var(--color-weekday);
}
.color-text-holiday-faded {
   fill: var(--color-holiday-faded);
}

.color-text-weekday-faded {
   fill: var(--color-weekday-faded);
}

@keyframes drawLine {
   to {
      stroke-dashoffset: 0;
   }
}

.koyomi-builder__bottom-buttons {
   position: absolute;
   bottom: 100px;
   margin-left: 0;
   margin-right: 0;
   display: flex;
   flex-direction: column;
   width: 600px;
   height: 50px;

   opacity: 0;
   display: none;
   /*background-color: rgb(30, 30, 30);

   border: 1.5px solid var(--color-theme);
   border-radius: 10px;*/
   /*box-shadow: 0px 10px 30px 0px rgb(102, 36, 56);*/
}
.koyomi-builder__bottom-buttons--active {
   opacity: 1;
   display: block;
}
@media print {
   .koyomi-builder__bottom-buttons--active {
      opacity: 0;
   }
}
.koyomi-builder__button-containter {
   align-self: center;
   width: 90%;
   display: flex;
   justify-content: flex-start;
   margin-top: 20px;
}
