@font-face {
   font-family: "GeoSansLight";
   src: url("../../public/fonts/GeosansLight.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Montserrat";
   src: url("../../public/fonts/montserrat/Montserrat-Light.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
}

.koyomi-builder__month-collection-container {
   position: absolute;
   top: 100px;
   height: auto;
   width: 100%;
   opacity: 0;

   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   transition: opacity 0.5s ease-in-out;
}
.koyomi-builder__month-collection-container--active {
   opacity: 1;
}

.koyomi-builder__container {
   position: relative;
   top: 0;

   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: start;
   flex-direction: column;

   gap: 20px;

   font-family: "GeoSansLight", sans-serif;
}
@media print {
   .koyomi-builder__container {
      top: 0px;
   }
}

.koyomi-builder__print-sizing {
   position: relative;

   width: 80vw;

   max-width: 297mm; /*A4*/
   min-width: 600px;
   height: auto;
   aspect-ratio: 1.4142 / 1;

   border-radius: 10px;
   border: 1px dashed rgb(190, 23, 23);

   font-family: "GeoSansLight", sans-serif;
   /*margin-bottom: 4%;*/
} /*
.koyomi-builder__print-sizing--for-browser {
   border-radius: 10px;
   border: 1px dashed rgb(110, 42, 42);
}
*/
.dom-to-img-container {
   width: 100%;
   height: 100%;
}

@media print {
   .koyomi-builder__print-sizing {
      top: 0;

      width: var(--page-size-width) !important;
      height: var(--page-size-height) !important;
      margin: 0 !important;
      border: none !important;
      page-break-inside: avoid;
      page-break-after: always;
   }
   body,
   html {
      margin: 0;
      border: none;
   }
}

@page {
   size: A4 landscape;
   margin: 0;
}

.koyomi-builder__print-margin {
   position: absolute;
   inset: var(--print-margin);
}

svg text {
   font-family: "GeoSansLight", sans-serif;
}

.color-line-holiday {
   stroke: var(--color-holiday);
}
.color-line-holiday {
   stroke: var(--color-holiday);
}
.color-line-weekday {
   stroke: var(--color-weekday);
}
.color-line-holiday-faded {
   stroke: var(--color-holiday-faded);
}
.color-line-weekday-faded {
   stroke: var(--color-weekday-faded);
}
.color-text-holiday {
   fill: var(--color-holiday);
}
.color-text-weekday {
   fill: var(--color-weekday);
}
.color-text-holiday-faded {
   fill: var(--color-holiday-faded);
}
.color-text-weekday-faded {
   fill: var(--color-weekday-faded);
}

.color-line-holiday.print-version {
   stroke: var(--color-holiday-print);
}
.color-line-holida.print-version {
   stroke: var(--color-holiday-print);
}
.color-line-weekday.print-version {
   stroke: var(--color-weekday-print);
}
.color-line-holiday-faded.print-version {
   stroke: var(--color-holiday-faded-print);
}
.color-line-weekday-faded.print-version {
   stroke: var(--color-weekday-faded-print);
}
.color-text-holiday.print-version {
   fill: var(--color-holiday-print);
}
.color-text-weekday.print-version {
   fill: var(--color-weekday-print);
}
.color-text-holiday-faded.print-version {
   fill: var(--color-holiday-faded-print);
}
.color-text-weekday-faded.print-version {
   fill: var(--color-weekday-faded-print);
}

@keyframes drawLine {
   to {
      stroke-dashoffset: 0;
   }
}

.koyomi-builder__bottom-buttons {
   position: fixed;
   bottom: 50px;
   margin-left: 0;
   margin-right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 600px;
   height: 50px;

   opacity: 0;
   background-color: rgb(20, 20, 20, 0.7);
   transition: opacity 0.5s ease-in-out;

   border-radius: 10px;
}
.koyomi-builder__bottom-buttons--active {
   opacity: 1;
}
@media print {
   .koyomi-builder__bottom-buttons--active {
      opacity: 0;
   }
}
.koyomi-builder__button-containter {
   align-self: center;
   width: 90%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
}

.koyomi-builder-loader {
   position: fixed;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   top: 0;
   bottom: 0;
   margin-top: auto;
   margin-bottom: auto;
   width: 320px;
   aspect-ratio: 1;
   padding: 1px;
   background: #e05151;

   aspect-ratio: 1;
   border-radius: 50%;
   mask:
      conic-gradient(#0000, #0000, #000) subtract,
      conic-gradient(#000 0 0) content-box;
   animation: spin 3s linear infinite;

   opacity: 0;
   transition: opacity 1s ease-in-out;

   pointer-events: none;
}
.koyomi-builder-loader.visible {
   opacity: 1;
}

.koyomi-builder-loader-inner {
   position: fixed;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   top: 0;
   bottom: 0;
   margin-top: auto;
   margin-bottom: auto;
   width: 290px;
   aspect-ratio: 1;
   padding: 0.5px;
   background: #e05151;

   aspect-ratio: 1;
   border-radius: 50%;
   mask:
      conic-gradient(#000, #0000) subtract,
      conic-gradient(#000 0 0) content-box;
   animation: spin2 2s linear infinite;
   opacity: 0;
   transition: opacity 1s ease-in-out;

   pointer-events: none;
}
.koyomi-builder-loader-inner.visible {
   opacity: 1;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
@keyframes spin2 {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}
.koyomi-builder-loader__text-container {
   position: fixed;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   top: 0;
   bottom: 0;
   margin-top: auto;
   margin-bottom: auto;

   height: 10px;
   width: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   opacity: 0;
   transition: opacity 1s ease-in-out;

   pointer-events: none;
}
.koyomi-builder-loader__text-container.visible {
   opacity: 1;
}
.koyomi-builder-loader__text {
   display: block;
   height: 20px;
   width: auto;
   color: rgb(196, 196, 196);
   font-size: 16px;
   margin: 5px;
}
