@import url(./components/koyomi-builder.css);
@import url(./components/koyomi-studio.css);

@import url(./components/effects.css);

@font-face {
   font-family: "GeoSansLight";
   src: url("../../public/fonts/GeosansLight.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Montserrat";
   src: url("../../public/fonts/montserrat/Montserrat-Light.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
}

:root {
   --koyomi-builder__vh: 297mm;
   --color-theme-true-color: rgb(196, 41, 41);
   --color-theme: rgb(199, 61, 61);
   --color-theme-hightlight: var(--color-theme);
   --color-holiday: var(--color-theme);
   --color-holiday-faded: rgb(199, 61, 61, 0.4);
   --color-weekday: rgb(192, 192, 192);
   --color-weekday-faded: rgb(192, 192, 192, 0.3);

   --color-theme-print: rgb(233, 60, 60);
   --color-theme-hightlight-print: var(--color-theme-print);
   --color-holiday-print: var(--color-theme-print);
   --color-holiday-faded-print: rgba(233, 60, 60, 0.2);
   --color-weekday-print: rgb(0, 0, 0);
   --color-weekday-faded-print: rgb(0, 0, 0, 0.2);

   --page-size-height: 0mm;
   --page-size-width: 0mm;

   --print-margin: 5mm;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}
html,
body {
   /*background: linear-gradient(45deg, #110300, #aa2d1c, #fa983c);*/

   height: 100%;
   margin: 0;
}

main {
   position: relative;
   top: 20px;

   height: 100%;
   width: 100%;
}

.title {
   position: fixed;
   left: 50%;
   transform: translateX(-50%) translateY(0);
   min-width: 600px;
   padding: 10px;

   color: #b4b4b4;
   text-align: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;

   text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.986);
   transition: transform 1s ease;
   background-color: rgb(30, 30, 30, 0.7);
   z-index: 100;
   border-radius: 10px;
}

.screen-wrapper {
   position: relative;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.font-poppin {
   font-family: "Poppins", sans-serif;
   font-weight: lighter;
}

.font-bold {
   font-weight: bold;
}

.font-geosans {
   font-family: "GeoSansLight", sans-serif;
   letter-spacing: 3px;
}
.font-geosans-small {
   font-family: "GeoSansLight", sans-serif;
   letter-spacing: 3px;
   font-size: medium;
}

.japanese-units {
   position: relative;
   font-size: 18px;
   top: 1px;
}
